/vendor/
/node_modules/
/build/
/dist/
/coverage/
.phpunit.result.cache
.phpunit.cache/
/plugins/edulume-core/vendor/
/release/
*.log
.DS_Store
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

/composer.local.json
/composer.local.lock
.phpunit-integration.cache/
