<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="plugins/edulume-core/tests/Integration/bootstrap.php"
         colors="true"
         cacheDirectory="build/.phpunit-integration.cache"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="integration">
            <directory>plugins/edulume-core/tests/Integration</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>plugins/edulume-core/src/Infrastructure</directory>
            <directory>plugins/edulume-core/src/Admin</directory>
        </include>
    </source>
</phpunit>
